* {
    box-sizing: border-box;
}

html,
body,
#app {
    color: var(--cm-text-1);
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 14px;
    font-family: "Inter",
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
    font-weight: 400;
    line-height: 22px;
    flex-direction: column;
}

.cm-footer__copyright {
    width: 100%;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    align-items: center;
    flex-direction: column;
}

[data-theme="dark"] {
    html,
    body,
    #app {
        background-color: var(--cm-bg);
    }
}

h1 {
    font-size: 24px;
    line-height: 32px;
}

h2 {
    font-size: 20px;
    line-height: 28px;
}

h3 {
    font-size: 18px;
    line-height: 26px;
}

h4 {
    font-size: 16px;
    line-height: 24px;
}

h5 {
    font-size: 14px;
    line-height: 22px;
}

h6 {
    font-size: 12px;
    line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 600;
}

p {
    margin-top: 0;
    margin-bottom: 12px;
}