.cm-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--cm-container-padding);
    padding-left: var(--cm-container-padding);
}

@media (min-width: var(--cm-container-sm)) {
    .cm-container {
        max-width: calc(var(--cm-container-sm) - var(--cm-container-padding) * 2);
    }
}

@media (min-width: var(--cm-container-md)) {
    .cm-container {
        max-width: calc(var(--cm-container-md) - var(--cm-container-padding) * 2);
    }
}

@media (min-width: var(--cm-container-lg)) {
    .cm-container {
        max-width: calc(var(--cm-container-lg) - var(--cm-container-padding) * 2);
    }
}

@media (min-width: var(--cm-container-xl)) {
    .cm-container {
        max-width: calc(var(--cm-container-xl) - var(--cm-container-padding) * 2);
    }
}

@media (min-width: var(--cm-container-xxl)) {
    .cm-container {
        max-width: calc(var(--cm-container-xxl) - var(--cm-container-padding) * 2);
    }
}