.cm-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
}

@media (min-width: 640px) {
    .cm-container {
        max-width: calc(640px - 12px * 2);
    }
}

@media (min-width: 768px) {
    .cm-container {
        max-width: calc(768px - 12px * 2);
    }
}

@media (min-width: 1024px) {
    .cm-container {
        max-width: calc(1024px - 12px * 2);
    }
}

@media (min-width: 1280px) {
    .cm-container {
        max-width: calc(1280px - 12px * 2);
    }
}

@media (min-width: 1536px) {
    .cm-container {
        max-width: calc(1536px - 12px * 2);
    }
}