.cm-header {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--cm-header-border-color);

    .cm-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}