.vf-skeleton-gate {
  --vf-skeleton-gate-fade-duration: var(--vf-skeleton-gate-fade-duration-default);
  --vf-skeleton-gate-fade-easing: var(--vf-skeleton-gate-fade-easing-default);
  --vf-skeleton-gate-overflow: var(--vf-skeleton-gate-overflow-default);

  position: relative;
  overflow: var(--vf-skeleton-gate-overflow);
}

.vf-skeleton-gate__content {
  opacity: 0;
  transition: opacity var(--vf-skeleton-gate-fade-duration) var(--vf-skeleton-gate-fade-easing);
}

.vf-skeleton-gate__content--normalize-spacing > :first-child {
  margin-block-start: 0;
}

.vf-skeleton-gate__content--normalize-spacing > :last-child {
  margin-block-end: 0;
}

.vf-skeleton-gate__content--ready {
  opacity: 1;
}

.vf-skeleton-gate__overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  transition: opacity var(--vf-skeleton-gate-fade-duration) var(--vf-skeleton-gate-fade-easing);
}
