@import './tokens.css';

.vf-codeblock {
  display: block;
  overflow: hidden;
  border: 1px solid var(--vf-codeblock-border-color);
  border-radius: var(--vf-codeblock-border-radius);
  background: var(--vf-codeblock-background-color);
  min-height: var(--vf-codeblock-min-height, var(--vf-codeblock-critical-min-height));
}

.vf-codeblock__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: var(--vf-codeblock-critical-header-min-height);
}

.vf-codeblock__code-shell {
  position: relative;
  min-height: var(--vf-codeblock-critical-code-min-height);
}

.vf-codeblock__pre {
  margin: 0;
  overflow: auto;
}
