@function lighter($color, $tone) {
    $adjust: 16*$tone;

    @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

@function darker($color, $tone) {
    $adjust: -16*$tone;

    @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

$colors: (
    "white": #ffffff,
    "green": #0cbc87,
    "red": #d6293e,
    "yellow": #f7c32e,
    "sky": #0ea5e9,
    "blue": #007bff,
    "purple": #6f42c1,
    "gray": #6c6e77,
    "gray-light": #f0f1f3,
    "gray-lirk": #dfe0e2,
    "gray-larkle": #d5d7da,
    "gray-liddle": #3b3d43,
    "gray-lark": #3f4046,
    "gray-middle": #313338,
    "gray-dark": #2b2d31,
);

:root {
    color: #d5d7da;
}

:root {
    @each $key, $value in $colors {
        --cm-#{$key}: #{$value};

        @if $key != 'white' {
            @for $i from 1 to 10 {
                $color: #{$value};

                @if $i < 5 {
                    $color: lighter($value, 5 - $i);
                } @else if $i > 5 {
                    $color: darker($value, $i - 5);
                }

                --cm-#{$key}-#{$i}00: #{$color};
            }
        }
    }
}