@import "../colors.scss";

.cm-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: $blue-600;
    }

    &:active {
        color: $blue-700;
    }
}