.cm-header {
    padding-top: var(--cm-header-padding);
    padding-bottom: var(--cm-header-padding);
    border-bottom: 1px solid var(--cm-header-border-color);

    .cm-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}