.cm-button {
    display: inline-flex;
    position: relative;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 6px;
    overflow: hidden;

    &.cm-button_primary {
        color: #000000;
        border: 1px solid #CCCCCC;
        background-color: #CCCCCC;
    }

    &.cm-button_secondary {

    }

    &.cm-button_success {

    }

    &.cm-button_danger {

    }

    &.cm-button_warning {

    }

    &.cm-button_info {

    }
}