.cm-container {
  inline-size: 100%;
  max-inline-size: var(--cm-breakpoint-xl);
  margin-inline: auto;
  padding-inline: var(--cm-space-4);
}

.cm-container--md {
  max-inline-size: var(--cm-breakpoint-md);
}

.cm-container--lg {
  max-inline-size: var(--cm-breakpoint-lg);
}

.cm-container--xl {
  max-inline-size: var(--cm-breakpoint-xl);
}

.cm-container--2xl {
  max-inline-size: var(--cm-breakpoint-2xl);
}

.cm-container--fluid {
  max-inline-size: none;
}
