
.vf-footer-area {
  grid-area: footer;
  min-width: var(--vf-layout-size-zero);
  padding-block: var(--vf-layout-footer-padding-block);
  border-top: var(--vf-layout-footer-border);
  background: var(--vf-layout-footer-background);
}
